export(AICc2LL,bat,bsd,cegsB,cegsML,cJ1,chao1,chao2,dgeoms,doubletons,exp2e,fisher,gsd,gsindex,halfpower,ipower,isce,jackknife1,jackknife2,logd,nbin,odds2,pln,rarefy,rcegs,rexp2e,rhp,ripower,rodds,rodds2,rweib,sadrad,saturate,shannon,simpson,singletons,sodds,sqs,weibull,zipf,zsm)
