export(AICc2LL,bsd,cJ1,chao1,chao2,dgeoms,doubletons,exp2e,fisher,gsd,isce,jackknife1,jackknife2,logd,nbin,pln,rarefy,rexp2e,rodds,sadrad,saturate,shannon,simpson,singletons,sodds,sqs,weibull,zipf,zsm)
